.popup__form {
  width: 358px;
  height: 27px;
  margin: 0 auto 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 0 13px;
}

.popup__form:nth-last-child(2) {
  margin-bottom: 0;
}

.popup__form::placeholder {
  color: #212529;
  opacity: 0.4;
}

.popup__form:focus {
  outline: 2px solid rgba(3, 97, 248, 0.719);
}

@media screen and (max-width: 640px) {
  .popup__form {
    width: 238px;
    padding-bottom: 3px;
    margin-top: -3px;
  }
}
