.popup__full-name {
  width: 358px;
  height: 27px;
  margin: 34px auto 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 0 13px;
}

.popup__full-name::placeholder {
  color: #212529;
  opacity: 0.4;
}

.popup__full-name:focus {
  outline: 2px solid rgba(3, 97, 248, 0.719);
}

@media screen and (max-width: 640px) {
  .popup__full-name {
    width: 238px;
    padding-bottom: 3px;
    margin-top: 71px;
  }
}
