.profile__info {
  font-family: 'Inter';
  font-style: normal;
  color: #fff;
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .profile__info {
    flex-direction: column;
    gap: 27px;
  }
}
